@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var timestamp = DateTime.Now.ToString("yyyyMMddHHmmssfff");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Celia</title>
    <!--Typo custom-->
    <script src="https://kit.fontawesome.com/4cd85245c2.js" crossorigin="anonymous"></script>

    <!-- Typo Effra 400, 500, 700, 900, italic -->
    <link rel="stylesheet" href="https://use.typekit.net/ltm5quj.css">

    <!-- Librairies -->
    <!-- Jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Jquery UI -->
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <!-- Bootstrap 4.5.3 -->
    <link rel="stylesheet" href="~/lib/bootstrap-4.5.3/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap-4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="~/lib/notify.js/notify.min.js"></script>
    <!--Global-->
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/flk_syncfusion.css?@timestamp" />
    <link rel="stylesheet" href="~/css/custom_materieal_input.css?@timestamp" />
    <link rel="stylesheet" href="~/css/css_structurel.css?@timestamp" />
    <link rel="stylesheet" href="~/css/site.css?@timestamp" />
    <!-- Syncfusion -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="~/js/syncfusion.js?@timestamp"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Assistant_Interface</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Today.Year - FLK
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

    @{
        var textMacaron = Configuration.GetSection("Macaron:text").Value;
        var classMacaron = Configuration.GetSection("Macaron:class_color").Value;
        var typePlateforme = Configuration.GetSection("Macaron:type_plateforme").Value;
    }
    @if (!typePlateforme.Equals("Prod"))
    {
        <div class="logo_type_plateforme @classMacaron">@textMacaron</div>
    }
</body>
</html>
